[submodule "botias/static/noty"]
	path = botias/static/noty
	url = git://github.com/needim/noty.git
[submodule "botias/static/jquery-handsontable"]
	path = botias/static/jquery-handsontable
	url = git://github.com/warpech/jquery-handsontable.git
[submodule "botias/static/bootbox"]
	path = botias/static/bootbox
	url = git://github.com/makeusabrew/bootbox.git
