include version.py
include *.txt
include RELEASE-VERSION
recursive-include botias/templates *
recursive-include botias/static *
recursive-include botias/translations *.mo
recursive-include botias/db *
global-exclude .git*
global-exclude README*
global-exclude *.pyc
include README.txt
prune botias/static/jquery-handsontable/.git
prune botias/static/jquery-handsontable/demo
prune botias/static/jquery-handsontable/test
exclude botias/static/jquery-handsontable/index.html
prune botias/static/bootbox/tests
prune botias/static/bootbox/.git
prune botias/static/noty/demo
prune botias/static/noty/.git
exclude botias/static/bootbox/build.xml
