
<ol>
	<li><h3>Как выполнить расчет и посмотреть возможности системы.</h3>
	После регистрации вы можете войти в свой кабинет.  Для того, чтобы произвести расчет, вы должны загрузить один или несколько файлов с исходными данными.<br />
Если вы впервые составляете отчетность по МСФО 19, то вам потребуется загрузить только один файл с исходными данными о своих работниках за 2012 год.<br />
При первом входе в вашем кабинете такой информации (исходных данных) нет.  Образец файла с исходными данными, содержащий сведения о двух условных работниках вы можете скачать на свой компьютер через опцию «Показать тестовые файлы». Содержимое файла также можно посмотреть в разделе «<a href="/docs">Документы</a>».<br />

<img src="/static/faq1.png" />

Содержание этого файла вы можете видоизменить или оставить данные таким как есть . Загрузите этот или видоизмененный  файл в свой кабинет.  При загрузке файлов следует учесть, что в демонстрационном режиме у вас существует возможность произвести расчет только для двух работников, т.е. если в файле будет содержаться более двух строк, содержащих сведения о работниках, система выдаст вам сообщение об ошибке. Если вы желаете воспользоваться нашим сервисом для целей расчета своего баланса по МСФО-19, познакомьтесь с нашими «<a href="/tos">Условиями использования</a>».<br />

Если форматы данных в файле не были нарушены, то после загрузки файла у вас в кабинете появится несколько новых опций.<br />

<img src="/static/faq2.png" />

Воспользуйтесь опцией «Рассчитать общий отчет». Отчет появится перед вами.

	</li><li><h3>Как настроить основные параметры для расчета.</h3>
Основные параметры для расчета – это актуарные предположения. Вы, а лучше пусть это сделает ваш актуарий, можете изменять:
<ul>
	<li>предполагаемый размер ежегодного роста заработной платы,</li>
	<li>предполагаемый размер ежегодной индексации размера пенсий,</li>
	<li>ставки дисконтирования по годам.</li>
</ul>
Еще одна важная составляющая актуарных предположений – Таблица сметроности. В данной, первой версии системы, вы ее изменить не можете. Таблицу смертности вы можете постмотреть на странице «<a href="/docs">Документы</a>», а также на портале <a href="http://mortality.org">www.mortality.org</a>. Наша Таблица смертности взята именно с этого портала.<br />

Изменить параметры расчета вы можете изменив «<a href="/prefs">Настройки</a>» вашего кабинета:<br />


Выбрав  пункт «Параметры расчета» вы можете задать значения ваших собственных предположений о росте пенсий и заработков:

<img src="/static/faq3.png" />

Но при этом помните, что размерность значений – это число, а не проценты. Если вы укажите, например 6.00 вместо  0.06, то результаты расчета станут несуразными, «фантастическими».<br />


Аналогичным образом вы можете изменить актуарные предположения о величинах ставок дисконтирования.

<img src="/static/faq4.png" />

Количество лет, для которых задаются ставки дисконтирования ничем не ограничено, можно добавлять много строк.<br />
Для этого кликните правой кнопкой мыши по строчке и выберите действие "добавить строку" или "удалить строку".
Строчки по поведению повторяют работу с Excel. Введите значение года, нажмите Enter или перейдите курсором на соседнюю ячейку. После ввода нужных значений не забудьте нажать "Сохранить настройки".

	</li><li><h3>Как проверить правильность расчета.</h3>
Помимо актуарных предположений исходными данными, на основе которых производится расчет балансового отчета являются:
<ul>
	<li>дисконтированная (приведенная) стоимость обязательств на начало и конец расчетного периода,</li>
	<li>стоимость текущих услуг,</li>
	<li> стоимость прошлых услуг.</li>
</ul>
В системе эти значения рассчитываются индивидуально по каждому работнику. А затем суммируются и их сумма применяется для расчета балансового отчета. В системе имеется возможность просмотра любого индивидуального расчета. Для этого необходимо воспользоваться опцией «Рассчитать работника», а затем указать порядковый номер строки файла исходных данных, содержащей сведения о конкретном работнике:

<img src="/static/faq5.png" />


	</li><li><h3>Как проверить методику расчета.</h3>
Методика расчета может быть представлена вашему аудитору или актуарию. Для того чтобы ознакомления с методикой,  между нами должен быть заключен договор («<a href="/tos">Условия использования</a>»), или - если вы находитесь в Киеве, свяжитесь с нами по электронной почте («<a href="mailto:botias@pac.kiev.ua">Связаться</a>») и договоритесь о встрече с нашим представителем.

	</li><li><h3>Что не может сделать система.</h3>
Данная (первая) версия системы позволяет произвести расчет обязательств только для нефондированных пенсионных схем и только по выплатам работникам предприятии на аттестованных рабочих местах по Спискам №1 и №2.<br />

Расчет активов пенсионных планов (реальных инвестиционных активов, размещаемых предприятием под обеспечение пенсионных обязательств) в данной версии системы не производится.<br />

Расчет секвестров пенсионных планов и управление графиками амортизации прошлых услуг в данной версии системы не производится.<br />

Расчет «додатков» по случаю юбилейных дат и бонусов, выплачиваемых работникам к определенным событиям в данной версии системы не производится.

</ol>

