
<div class='hero-unit'>
	<h3>Актуарная оценка льготных пенсий в Украине по МСФО-19</h3>

	<p>Наш сервис предоставляет Вам возможность произвести расчет обязательств по выплате льготных пенсий
	работникам, занятым на рабочих местах, определенных списком № 1 и списком № 2, и сформировать балансовый
	отчет, удовлетворяющий требованиям Международного стандарта финансовой отчетности МСФО-19  «Выплаты работникам».</p>

	<p>Зарегистрировавшись на нашем сервисе, Вы можете самостоятельно произвести расчет и сформировать отчетные
	документы для двух работников.  Образцы отчетов и таблиц результатов расчета и актуарных предположений
	приведены в разделе <a href="/docs">Документы</a>.</p>

	<p>Если Вам необходим расчет и отчетность для более чем двух работников, перейдите на страницу
	<a href="/tos">Условия использования</a>.</p>

	<p>В разделе <a href="/faq">Вопросы и ответы</a> Вы можете ознакомиться с  алгоритмами расчета,
	также там содержится справочная информация по работе с сервисом.</p>
</div>

