
<div class='hero-unit'>
	<h3>{{ _('Actuarial assessment of privileged pensions in Ukraine according to IAS-19') }}</h3>

	<p>{{ _('Our service gives you the possibility to calculate the obligations on payment of privileged pensions
	to workers employed at the workplace, defined by the list of № 1 and the list of № 2, and prepare a balance
	sheet that meets the requirements of International Financial Reporting Standard IAS-19 «employee benefits» criteria.') }}</p>

	<p>{{ _('After registering in our service, you can manually perform calculations and obtain reports
	for two workers. Sample reports and tables of the results of calculations and actuarial assumptions are
	given in the <a href="/docs">Documents</a> section.') }}</p>

	<p>{{ _('If you need the calculation and reporting for more than two workers, please read
	<a href="/tos">Terms of service</a> section first.') }}</p>

	<p>{{ _('In the <a href="/faq">FAQ</a> section you can get acquainted with algorithms used in calculations
	and the user manual.') }}</p>
</div>

