{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% set curr_url = url_for(request.endpoint, **request.view_args) %}
{% block head %}
    {{ super() }}

	<style type="text/css">
		ul.nav li.dropdown:hover ul.dropdown-menu {
			display: block;
		}
		.navbar .dropdown-menu {
			margin-top: 0px;
		}
		a.menu:after, .dropdown-toggle:after {
			content: none;
		}
		.caret {
			border-top-color: white !important;
		}
		.help-block {
			color: #aaaaaa;
		}
		.navbar .brand {
			max-height: 40px;
			overflow: visible;
			padding-top: 0;
			padding-bottom: 0;
		}
		.navbar-fixed-bottom {
			margin-bottom: -10px; /* umad, bro */
		}
	</style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script type="text/javascript" src="static/noty/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="static/noty/js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="static/noty/js/noty/layouts/topCenter.js"></script>
    <script type="text/javascript" src="static/noty/js/noty/themes/default.js"></script>
{% endblock %}
{% block style %}
	{{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block title %} {{ title }} &mdash; {{ _('Botias') }} {% endblock %}

{% block body %}
{{ super() }}

<script type="text/javascript">
{% for category, message in get_flashed_messages(with_categories=true) %}
  noty({layout: 'topCenter', type: '{{ category }}', text: '{{ message }}', closeWith: ['click', 'button']});
{% endfor %}
</script>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><img src="/static/logo.png"></img></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown"><a href="/about">{{ _('About service') }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/faq"><i class="icon-question-sign"></i> {{ _('Frequently asked questions') }}</a></li>
              <li><a href="/docs"><i class="icon-file"></i> {{ _('Documentation') }}</a></li>
              <li><a href="/tos"><i class="icon-exclamation-sign"></i> {{ _('Terms of service') }}</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
      <div class="pull-right">
        <ul class="nav pull-right">
          {% if current_user.is_authenticated() %}
          <li class="dropdown"><a href="#">{{ _('Welcome, %(name)s', name=current_user.name) }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/office"><i class="icon-home"></i> {{ _('My office') }}</a></li>
              <li><a href="/prefs"><i class="icon-cog"></i> {{ _('Preferences') }}</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('logout') }}"><i class="icon-off"></i> {{ _('Log out') }}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="dropdown"><a href="#">{{ _('Please authorize') }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('login') }}"><i class="icon-user"></i> {{ _('Log in') }}</a></li>
              <li><a href="/register"><i class="icon-tasks"></i> {{ _('Register') }}</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div><!-- ./pull-right -->
    </div><!--./container-->
  </div><!--./navbar-inner-->
</div><!--./navbar-->

<footer class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<p>
				{% if curr_url != '/tos' %}
					<a href="/tos">{{ _('Terms of service') }}</a> &nbsp; &nbsp; <a href="mailto:botias@pac.kiev.ua">{{ _('Contact us') }}</a>
				{% else %}
					<br />
				{% endif %}
			</p>
			<p>
			{% if not config['DEBUG'] %}
			<!--
			{% endif %}
			{{ _('Version ')|version }}.
			{% if not config['DEBUG'] %}
			-->
			{% endif %}
			&copy; {{ _('Rainbow technologies LTD., 2012') }}</p>
		</div>
	</div>
</footer>
{% endblock %}
