{% extends "layout.html" %}
{% block body %}
<div class="container"><div class="login-form">
  <h2>{{ _('Login') }}</h2>
  <form action="{{ url_for('login', next=next) }}" method="post">
    <fieldset>
      <div class="clearfix">
        <input name="email" type="text" placeholder="{{ _('E-mail') }}" value="{{ email }}">
      </div>
      <div class="clearfix">
        <input name="password" type="password" placeholder="{{ _('Password') }}">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Login') }}</button>
      </div>
      {{ form.hidden_tag() }}
    </fieldset>
  </form>
</div></div>
{{ super() }}
{% endblock %}
