{% extends "layout.html" %}

{% block head %}
	{{ super() }}
	<script type="text/javascript" src="/static/bootbox/bootbox.min.js"></script>
	<script type="text/javascript" src="/static/jquery-handsontable/jquery.handsontable.js"></script>
	<script type="text/javascript" src="/static/jquery-handsontable/lib/jQuery-contextMenu/jquery.contextMenu.js"></script>
	<script type="text/javascript" src="/static/jquery-handsontable/lib/jQuery-contextMenu/jquery.ui.position.js"></script>
	<link rel="stylesheet" media="screen" href="/static/jquery-handsontable/jquery.handsontable.css">
	<style type="text/css">
		.close {
			font-size: 20px;
			font-weight: bold;
			line-height: 18px;
			color: #000000;
			text-shadow: 0 1px 0 #ffffff;
			opacity: 0.2;
			filter: alpha(opacity=20);
			text-decoration: none;
		}
		.close:hover {
			color: #000000;
			text-decoration: none;
			opacity: 0.4;
			filter: alpha(opacity=40);
			cursor: pointer;
		}
		.link:hover {
			cursor: pointer;
		}
	</style>
	<script type="text/javascript">
		function isNumber(n) {
			return !isNaN(parseFloat(n)) && isFinite(n);
		};
		$(document).ready(function(){
			$("#link-submit").click(function() {
				$("#upload-link").hide();
				$("#upload-form").slideDown();
			});
			$("#link-close").click(function() {
				$("#upload-link").show();
				$("#upload-form").hide();
			});
			$(".calculate-single-link").click(function(e) {
				e.preventDefault();
				f=$(this).attr('id');
				bootbox.prompt("{{ _('Enter employee id') }}", "Cancel", "OK",
					function(r) {
						if(r)
						{
							if(!isNumber(r))
							{
								bootbox.alert("{{ _('Incorrect employee id') }}");
							} else
							{
								location.replace("result?id="+r+"&file="+f);
							}
						}
					}, "1");
			});
			$(".calculate-all-link").click(function(e) {
				e.preventDefault();
				f=$(this).attr('id');
				location.replace("result?id=0&file="+f)
			});
			$("#test-files").click(function(e) {
				e.preventDefault();
				if($("#test-files-table").is(":visible"))
				{
					$("#test-files-header").text("{{ _('Show test files') }}");
				} else {
					$("#test-files-header").text("{{ _('Hide test files') }}");
				}
				$("#test-files-table").toggle();
			});
			$('#test-files').trigger('click');
			$('.view-errors-link').click(function(e) {
				e.preventDefault();
				var f=$(this).attr('id');
				var placeholder = $("#errors-"+f);
				if(placeholder.html() == '') {
					$.ajax({
						type: 'GET',
						url: '/_errors',
						data: 'id='+f,
						dataType: 'JSON',
						timeout: 30000,
						error: function(jqXHR, exception) {
							// TODO : taken from result.html, deduplicate code
							var err = "";
							if (jqXHR.status === -1) {
								err = jqXHR.responseText;
							} else if (jqXHR.status === 0) {
								err = "{{ _('Connection error. Contact administration.') }}";
							} else if (jqXHR.status == 404) {
								err = "{{ _('Page not found. Contact administration') }}";
							} else if (jqXHR.status == 500) {
								err = "{{ _('Internal server error. Contact administration.') }}"
							} else if (exception === 'parsererror') {
								err = "{{ _('Incorrect server response. Contact administration.') }}"
							} else if (exception === 'timeout') {
								err = "{{ _('Response timed out. Contact administration.') }}";
							} else if (exception === 'abort') {
								err = "{{ _('AJAX request aborted.') }}";
							} else {
								err = "{{ _('Unknown error: ') }}" + jqXHR.responseText + "{{ _('Contact administration.') }}";
							}
							placeholder.html(err);
						},
						success: function(data) {
							if(data.result==null) {
								placeholder.html(data.error);
							} else {
								var customRenderer = function (instance, td, row, col, prop, value) {
									Handsontable.TextCell.renderer.apply(this, arguments);
									var escaped = Handsontable.helper.stringify(value);
									if (escaped.indexOf('OK') === -1) {
										td.style.backgroundColor = 'red';
									} else {
										td.style.backgroundColor = 'green';
									}
								};
								placeholder.handsontable({
									data: data.result,
									cells: function (row, col, prop) {
										var cellProperties = {};
										cellProperties.readOnly = true;
										return cellProperties;
									},
									startRows: data.result.length,
									startCols: 2,
									colHeaders : ["{{ _('employee id') }}", "{{ _('status') }}"],
									columns: [
										{},
										{type: {renderer: customRenderer}}
									]
								});
							};
						}
					});
				}
				placeholder.toggle();
			});
		});
	</script>
{% endblock %}

{% block content %}

<div class="container">
	<h2>{{ _('My office') }}</h2>
	<br /><br />

	<div class='hero-unit'>{{ _('Our service gives you the possibility to calculate the obligations on payment of privileged pensions
	to workers employed at the workplace, defined by the list of № 1 and the list of № 2, and prepare a balance
	sheet that meets the requirements of International Financial Reporting Standard IAS-19 «employee benefits» criteria.') }}</div>

	<a id="test-files" class="link"><h3 id="test-files-header"></h3></a>
	<table id="test-files-table" class="table table-striped" style="table-layout: fixed; vertical-align: middle;">
		<thead>
			<tr>
				<th style="width:50px;"></th> <!-- иконка -->
				<th>Имя</th> <!-- имя -->
				<th>Действия</th> <!-- действия -->
			</tr>
		</thead>
		<tbody>
			<!-- <tr><td colspan=3><div><i class="icon-ban-circle"></i>{{ _('No files uploaded.') }}</div></td></tr> -->
			<tr><td colspan=3><div><i class="icon-download-alt"></i><a href="/static/test.xls">{{ _('Download test file') }}</a></div></td></tr>
		</tbody>
	</table>


	<h3>{{ _('Uploaded files') }}</h3>
	<table id="uploaded-files-table" class="table table-striped" style="table-layout: fixed; vertical-align: middle;">
		<thead>
			<tr>
				<th style="width:50px;"></th> <!-- иконка -->
				<th>Имя</th> <!-- имя -->
				<th>Действия</th> <!-- действия -->
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
				<tr>
					<td style="width:50px;"><img src="/static/xls.png" /></td>
					<td style="vertical-align: middle;">
						<a id="{{ file.id }}" class="view-errors-link link" title="{{ _('View errors') }}">{{ file.name }}</a>
						<div id="errors-{{ file.id }}" style="display:none;"></div>
					</td>
					<td>
						<a href="/download?id={{ file.id }}"><i class="icon-download-alt"></i>{{ _('Download') }}</a><br />
						<a id="{{ file.id }}" class="calculate-single-link link" title="{{ _('Calculate funding plan for single employee') }}"><i class="icon-user"></i>{{ _('Calculate employee') }}</a><br />
						<a id="{{ file.id }}" class="calculate-all-link link" title="{{ _('Calculate overall funding plan') }}"><i class="icon-th-list"></i>{{ _('Calculate plan') }}</a><br />
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div id="upload-link"><a id="link-submit" class="link"><i class="icon-upload"></i>{{ _('Upload new file') }}</a></div>
	<div id="upload-form" style="display: none;">
		<a class="close" id="link-close"><span title="{{ _("Close") }}">&times;</span></a>
		<form class="form-horizontal" action="{{ url_for('submit') }}" method="post" enctype="multipart/form-data">
				<fieldset>
				<input type="file" name="data">
				<div class="form-actions">
					<button name="action_submit" type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
				</div>
			</fieldset>
		</form>
	</div>

</div>

{% endblock %}

