{% extends "layout.html" %}
{% from "bootstrap_wtf.html" import horizontal_field, form_errors,  %}
{% block body %}
<script type="text/javascript">
	function set_code_label()
	{
		if($('input[name=corporate]').is(':checked'))
			$("label[for=code]").html('{{ _("Corporate code") }}');
		else
			$("label[for=code]").html('{{ _("Individual code") }}');
	}
	$(function () {
		$(document).ready(set_code_label);
		$('input[name=corporate]').attr('checked', true);
		$("#corporate").click(set_code_label);
	});
</script>
<div class="container"><div class="login-form">
  <h2>{{ _('Register') }}</h2>
  <form class="form-horizontal" action="{{ url_for('register') }}" method="post">
    <fieldset>
      {{ horizontal_field(form.name) }}
      {{ horizontal_field(form.surname) }}
      {{ horizontal_field(form.corporate) }}
      {{ horizontal_field(form.code) }}
      {{ horizontal_field(form.purpose) }}
      {{ horizontal_field(form.beneficiary) }}
      {{ horizontal_field(form.email) }}
     <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Register!') }}</button>
      </div>
      {{ form.hidden_tag() }}
    </fieldset>
  </form>
</div></div>
{{ super() }}
{% endblock %}
