{% extends "layout.html" %}
{% block body %}
<div class="container"><div class="login-form">
  <h2>Login</h2>
  <form action="{{ url_for('login', next=next) }}" method="post">
    <fieldset>
      <div class="clearfix">
        <input name="username" type="text" placeholder="Username" value="{{username}}">
      </div>
      <div class="clearfix">
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      {{ form.hidden_tag() }}
    </fieldset>
  </form>
</div></div>
{{ super() }}
{% endblock %}
