{% extends "layout.html" %}
{% block body %}

<div class="container">
	<h2>{{ _('My office') }}</h2>

	<p><a href="/submit"><i class="icon-upload"></i>{{ _('Upload new file') }}</a></p>

	<table class="table table-striped" style="table-layout: fixed; vertical-align: middle;">
		<thead>
			<tr>
				<th style="width:50px;"></th> <!-- иконка -->
				<th>{{ _('File name') }}</th> <!-- имя -->
				<th>{{ _('Actions') }}</th> <!-- действия -->
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
				<tr>
					<td><img src="/static/xls.png" /></td>
					<td style="vertical-align: middle;"><a href="#">{{ file.name }}</a></td>
					<td><a href="#"><i class="icon-download-alt"></i>{{ _('Download') }}</a> <a href="#"><i class="icon-th-list"></i>{{ _('Calculate') }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{{ super() }}
{% endblock %}

